// Colors

$white: #ffffff;
$red: #ff0000;
$yellow: #fffd82;
$black: #000000;
$light-grey: lightgrey;
$light-pink: #f1eaea;


// Typography
@import url('https://fonts.googleapis.com/css?family=Monofett|Sarala:700');

$header-font: 'Monofett', Verdana, sans-serif;
$main-body-font: 'Sarala', Arial, sans-serif;

@mixin container() {
  padding: 20px;
  width: 50vw;
  margin: 0 auto;
  text-align: left;
}