// Colors

$white: #ffffff;
$red: #ff0000;
$yellow: #fffd82;
$black: #000000;
$light-grey: lightgrey;
$light-pink: #f1eaea;


// Typography
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:500');

$header-font: 'Barlow Condensed', Arial, sans-serif;
$main-body-font: 'Barlow Condensed', Arial, sans-serif;
$container-width: 460px;

@mixin container() {
  padding: 20px;
  width: $container-width;
  margin: 0 auto;
  text-align: left;
}